:host {
  width: 100%;
  max-width: 500px;
  box-shadow: rgba(255, 66, 129, 0.4) 5px 5px;
}
.user-creation {
  background-color: hsl(0, 0%, 100%);
  &__form {
    width: 100%;
    flex-direction: column;
  }

  &__input {
    margin-right: 10px;
    width: 100%;
  }

  &__form-footer {
    display: flex;
    justify-content: flex-end;
  }
}
