<mat-card class="user-creation">
  <div class="user-creation__content">
    <form class="user-creation__form" [formGroup]="userForm" (ngSubmit)="createUser()">
      <mat-form-field color="accent" class="user-creation__input">
        <input matInput placeholder="Name" formControlName="name">
        <mat-error *ngIf="userForm.controls.name.invalid">A valid name is required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent" class="user-creation__input">
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="userForm.controls.email.invalid">A valid e-mail is required</mat-error>
      </mat-form-field>
      <mat-form-field color="accent">
        <mat-label>Select your birthday</mat-label>
        <input matInput formControlName="birthday" [matDatepicker]="picker">
        <mat-error *ngIf="userForm.controls.birthday.invalid">A valid birthday is required</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      <footer class="user-creation__form-footer">
        <button mat-raised-button color="accent" type="submit">Submit</button>
      </footer>
    </form>
  </div>
</mat-card>
