.users {
  padding-top: 90px;

  &__header {
    align-items: center;
    background-color: hsl(231, 15%, 40%);
    display: flex;
    height: 50px;
    justify-content: space-between;
    padding: 34px 32px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 5;
  }

  &__linkedin {
    color: hsl(0, 0%, 100%);
    text-decoration: none;
  }

  &__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    width: 100%;
  }

  &__list {
    max-width: 800px;
    width: 100%;
  }

  &__card {
    background-color: hsl(231, 15%, 30%);
    box-shadow: hsla(340, 100%, 63%, 40%) 5px 5px,
      hsla(340, 100%, 63%, 30%) 10px 10px, hsla(340, 100%, 63%, 20%) 15px 15px,
      hsla(340, 100%, 63%, 10%) 20px 20px;
    color: hsl(0, 0%, 100%);
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__right-actions {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
  }

  &__delete {
    margin-right: 10px;
  }

  &__favorite {
    color: rgba(255, 64, 129, 100%);
    margin-top: 20px;
  }

  &__favorite-icon {
    font-size: 25px;
    transition: 0.1s font-size linear;

    &:active {
      font-size: 30px;
    }
  }

  &__empty {
    border: 2px solid hsl(0, 0%, 20%);
    border-radius: 8px;
    color: hsl(0, 0%, 50%);
    font-size: 25px;
    margin-top: 2em;
    padding: 1em 3em;
  }

  &__mat-progress-bar {
    position: fixed;
    z-index: 10;
  }
}
