<mat-progress-bar *ngIf="loading" class="users__mat-progress-bar" color="accent" mode="indeterminate">
</mat-progress-bar>
<main class="users">
  <header class="users__header header">
    <a class="header__linkedin" href="https://www.linkedin.com/in/antonio-eduardo-ribeiro-de-oliveira-9a7278127/"
      target="_blank">My LinkedIn</a>
    <button mat-raised-button color="accent" (click)="navigateToUserConfig()">Create new user</button>
  </header>
  <ul *ngIf="!loading" class="users__container container">
    <li *ngFor="let user of users" class="container__card card">
      <mat-card class="card__data data">
        <div class="data__description">
          <p>{{user.name}}</p>
          <p>{{user.email}}</p>
          <p>{{user.birthday | date}}</p>
        </div>
        <section class="data__right-actions">
          <div class="data__btn btn">
            <button (click)="openDialog(user.id)" mat-fab color="accent" class="btn__delete"
              aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button>
            <button (click)="navigateToUserConfig(user.id)" class="btn__edit" mat-fab color="accent"
              aria-label="Example icon button with a delete icon">
              <mat-icon>edit</mat-icon>
            </button>
          </div>
          <button class="data__favorite" (click)="like(user.id)" mat-icon-button>
            <mat-icon>{{getLikedValue(user.id)}}</mat-icon>
          </button>
        </section>
      </mat-card>
    </li>
  </ul>
</main>
